<!doctype html>
<html ng-app="ballBoyPopup" ng-controller="PopupController">
  <head>
    <meta charset="utf-8">
    <!-- build:css styles/popup-vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link href="styles/main.css" rel="stylesheet">
    <!-- endbuild -->
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body class="bb-popup">

    <div class="section">
        <div class="tab"
                ng-class="{'active': menu.active == 'teams'}"
                ng-click="menu.active = 'teams'; showTeams()">
            Teams
        </div>
        <div class="tab"
                ng-class="{'active': menu.active == 'series'}"
                ng-click="menu.active = 'series'; showSeries()">
            Series
        </div>
        <div class="tab"
                ng-class="{'active': menu.active == 'live'}"
                ng-click="menu.active = 'live'; showLive()">
            Live
        </div>

    </div>
    <div class="tab-indicator {{menu.active}}"></div>

    <div class="bb-popup-body">
        <div ng-if="menu.active == 'teams'" class="teams">
            <div ng-repeat="(key, value) in teams">
                <div class="section secondary" ng-bind="::key"></div>
                <div class="item" ng-repeat="team in value" ng-click="toggleFavouriteTeam(team.name)" title="Toggle Favourite">
                    <span ng-bind="::team.name"></span> <small ng-bind="::team.abbr"></small>
                    <span class="pull-right fa"
                            ng-class="{'fa-heart-o': favTeams.indexOf(team.name) == -1, 'fa-heart': favTeams.indexOf(team.name) != -1}">

                    </span>
                </div>
            </div>
        </div>

        <div ng-if="menu.active == 'series'">
            <bb-series ng-repeat="s in series track by s.id" data="s"></bb-series>
            <div ng-if="series.length === 0" class="series">
                Currently there are no series actively happening. Take a break!
            </div>
        </div>

        <div ng-if="menu.active == 'live'">
            <bb-live-match ng-repeat="match in liveMatches track by match.id" data="match"></bb-live-match>
            <div ng-if="liveMatches.length === 0 && favTeams.length !== 0">
                Currently there are no matches happening. Take a break!
            </div>
            <div ng-if="favTeams.length === 0">
                Please select one or more favourite teams to see live scores of matches involving your teams.
            </div>
        </div>
    </div>

    <!-- build:js scripts/popup-vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angularjs/angular.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/momentjs/moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/popup.js -->
    <script src="scripts/popup.js"></script>
    <!-- endbuild -->
  </body>
</html>
