$increment: 5px;
$popup-width: 250px;

$primary: #454552;
$primary-alt: #e85a71;
$secondary: #4ea1d3;
$secondary-alt: #d8e9ef;
$label-color: #FCE38A;


body {
  padding: 0;
  margin: 0;

  .header {
    background: $primary;
    margin: 0;
    padding: $increment * 2;
    font-size: $increment * 4;
  }

  .section {
    background: $primary;
    margin: 0;
    padding: $increment * 2;
    color: #fff;
    display: flex;
    justify-content: space-around;

    &.secondary {
      background: $secondary;
      color: $secondary-alt;
      padding: $increment;
      justify-content: flex-start;
    }

    .tab {
      cursor: pointer;
      text-align: center;
    }
  }

  .tab-indicator {
    position: relative;
    margin-top: -4px;
    border: 2px solid $primary-alt;
    width: $popup-width/3;
    left: 0;

    transition: all 0.2s ease-out;

    &.teams {
      left: 0;
    }

    &.series {
      left: $popup-width/3;
    }

    &.live {
      left: $popup-width - $popup-width/3;
    }
  }

  .bb-form {

    .form-control {
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;

      label {
        width: 150px;
        background: $primary-alt;
        color: #fff;
        font-size: $increment * 3;
        text-align: right;
        padding-top: $increment * 2;
        padding-bottom: $increment * 2;
        padding-right: $increment;
      }

      .value {
        width: calc(100% - 160px);
        display: flex;
        justify-content: space-around;

        .bb-input {
          width: 90%;
        }
      }
    }
  }

  &.bb-popup {
    margin: 0;
    padding: 0;
    width: 250px;

    .bb-popup-body {
      margin: $increment;

      .teams {
        .sub-header {
          padding: $increment * 2;
          font-size: $increment * 3;
          background: $secondary;
          border-top-left-radius: $increment;
          border-top-right-radius: $increment;
        }

        .item {
          padding: $increment;
          cursor: pointer;
          border-bottom: 1px solid $secondary-alt;

          small {
            color: darken($secondary-alt, 20%);
          }

          .fa {
            color: $primary-alt;
          }
        }
      }

      .item {
        padding: $increment * 3 $increment * 2;
        border-bottom: 1px solid $secondary-alt;
        cursor: pointer;

        &:last-of-type {
          border-bottom: none;
          margin-bottom: $increment * 2;
        }

        &:hover {
          background: lighten($secondary-alt, 5%);
        }

        .item-header {
          font-size: $increment * 4;
        }

        .item-tag {
          font-size: $increment * 2;
          color: #fff;
          background: $primary-alt;
          display: inline-block;
          padding: $increment/2 $increment * 2;
          margin-top: $increment;
        }
      }


      .item.live-match {
        &.done {
          .item-header {
            color: $primary;
          }

          .result {
            color: $primary-alt;
          }
        }

        .item-header {
          font-size: $increment * 3;
          color: $primary-alt;
        }
      }
    }
  }
}
